package main

import (
	"fmt"
	"net/http"
	"os"
	"github.com/facebookgo/inject"
	{{if .StatsD}} "github.com/alexcesaro/statsd"{{end}}
	"{{.Namespace}}/{{.ServiceName}}/global"
	"{{.Namespace}}/{{.ServiceName}}/handlers"
)

func main() {
	config := os.Args[1]
	rootfolder := os.Args[2]

	global.LoadConfig(config, rootfolder)

	setupHandlers()
	setupInjection()
}

func setupHandlers() {
	http.Handle("/", handlers.GetRouter())

	fmt.Println("Listening for connections on port", 8001)
	http.ListenAndServe(fmt.Sprintf(":%v", 8001), nil)
}

func setupInjection() {
	var g inject.Graph

	{{if .StatsD}}
	statsdClient, err := statsd.New(global.Config.StatsDServerIP) // reference to a statsd client
	if err != nil {
		panic(fmt.Sprintln("Unable to create StatsD Client: ", err))
	}
	{{end}}

	err = g.Provide(
		&inject.Object{Value: handlers.HealthHandlerDependencies},
		{{if .StatsD}}&inject.Object{Value: statsdClient, Name: "statsd"},{{end}}
	)

	if err != nil {
		fmt.Println(err)
	}

	// Here the Populate call is creating instances of NameAPI &
	// PlanetAPI, and setting the HTTPTransport on both to the
	// http.DefaultTransport provided above:
	if err := g.Populate(); err != nil {
		fmt.Println(err)
	}
}
