{{.ServiceName}}_test:
  image: {{.ServiceName}}
  ports:
    - "8001:8001"
  environment:
    - "CONSUL=consul:8500"
  links:
    - consul:consul{{if .StatsD}}
    - statsd:statsd{{end}}
consul:
  image: progrium/consul
  ports:
    - "9400:8400"
    - "9500:8500"
    - "9600:53/udp"
  hostname: node1
  command: "-server -bootstrap -ui-dir /ui"
{{if .StatsD}}statsd:
  image: hopsoft/graphite-statsd
  ports:
    - "8080:80"
    - "2003:2003"
    - "8125:8125/udp"
    - "8126:8126"
{{end}}
