package handlers

import (
	"bytes"
	"io/ioutil"
	"net/http"
	"net/http/httptest"
	"reflect"
	"testing"

	"github.com/gorilla/context"
	"github.com/stretchr/testify/assert"
	"github.com/stretchr/testify/mock"
	"{{.Namespace}}/{{.ServiceName}}/mocks"
)

type mockType struct {
	FirstName string `json:"first_name" valid:"alphanum,stringlength(1|255),required"`
}

var mockHandler *mocks.MockHandler
{{if .StatsD}}var mockRequestStatsD *mocks.MockStatsD{{end}}

func setupRequestValidationTests(t *testing.T) {
	mockHandler = &mocks.MockHandler{}
	{{if .StatsD}}mockRequestStatsD = &mocks.MockStatsD{}{{end}}

	{{if .StatsD}}mockRequestStatsD.Mock.On("Increment", mock.Anything){{end}}
	mockHandler.Mock.On("ServeHTTP", mock.Anything, mock.Anything)
}

func TestCallsNextOnSuccessfulValidation(t *testing.T) {
	setupRequestValidationTests(t)
	var responseRecorder httptest.ResponseRecorder
	var request http.Request
	request.Body = ioutil.NopCloser(bytes.NewBufferString(`{"first_name": "Nic"}`))

	handlerFunc := {{if .StatsD}}requestValidationHandler(HEALTH_HANDLER, reflect.TypeOf(mockType{}), mockRequestStatsD, mockHandler){{else}}requestValidationHandler(reflect.TypeOf(mockType{}), mockHandler){{end}}

	handlerFunc.ServeHTTP(&responseRecorder, &request)

	mockHandler.Mock.AssertCalled(t, "ServeHTTP", mock.Anything, mock.Anything)
	{{if .StatsD}}mockRequestStatsD.Mock.AssertCalled(t, "Increment", HEALTH_HANDLER+VALID_REQUEST){{end}}
}

func TestSetsContextSuccessfully(t *testing.T) {
	setupRequestValidationTests(t)
	var responseRecorder httptest.ResponseRecorder
	var request http.Request
	request.Body = ioutil.NopCloser(bytes.NewBufferString(`{"first_name": "Nic"}`))

	handlerFunc := {{if .StatsD}}requestValidationHandler(HEALTH_HANDLER, reflect.TypeOf(mockType{}), mockRequestStatsD, mockHandler){{else}}requestValidationHandler(reflect.TypeOf(mockType{}), mockHandler){{end}}

	handlerFunc.ServeHTTP(&responseRecorder, &request)
	requestObj := context.Get(&request, "request").(*mockType)
	assert.Equal(t, "Nic", requestObj.FirstName)
}

func TestReturnsBadRequestWhenNoObject(t *testing.T) {
	setupRequestValidationTests(t)
	var responseRecorder httptest.ResponseRecorder
	var request http.Request
	request.Body = ioutil.NopCloser(bytes.NewBufferString(``))

	handlerFunc := {{if .StatsD}}requestValidationHandler(HEALTH_HANDLER, reflect.TypeOf(mockType{}), mockRequestStatsD, mockHandler){{else}}requestValidationHandler(reflect.TypeOf(mockType{}), mockHandler){{end}}

	handlerFunc.ServeHTTP(&responseRecorder, &request)

	assert.Equal(t, http.StatusBadRequest, responseRecorder.Code)
	{{if .StatsD}}mockRequestStatsD.Mock.AssertCalled(t, "Increment", HEALTH_HANDLER+BAD_REQUEST){{end}}
}

func TestReturnsBadRequestWhenRequestInvalid(t *testing.T) {
	setupRequestValidationTests(t)
	var responseRecorder httptest.ResponseRecorder
	var request http.Request
	request.Body = ioutil.NopCloser(bytes.NewBufferString(`{"first_name": ""}`))

	handlerFunc := {{if .StatsD}}requestValidationHandler(HEALTH_HANDLER, reflect.TypeOf(mockType{}), mockRequestStatsD, mockHandler){{else}}requestValidationHandler(reflect.TypeOf(mockType{}), mockHandler){{end}}

	handlerFunc.ServeHTTP(&responseRecorder, &request)

	assert.Equal(t, http.StatusBadRequest, responseRecorder.Code)
	{{if .StatsD}}mockRequestStatsD.Mock.AssertCalled(t, "Increment", HEALTH_HANDLER+INVALID_REQUEST){{end}}
}
